body{
    color: rgba(0,0,0,.65);
    background: #e6e9e8;
    font-family: sans-serif;
}
thead{
    background: #fafafa;
    font-size: 16px;
}
tbody{
    background-color: white;
    font-size: 14px;
}
th{
    position: relative;
    width: 400px;
    height: 50px;
    text-align: left;
    padding-left: 10px;
}
.header{
    padding-left: 50px;
    padding-top: 50px;
}
.headerText{
    height: 100%;
    display: inline-block;
}
.search{
    position: relative;
    float: right;
    top: 40px;
    display: inline-block;
    border: 2px solid #cccccc;
    border-radius: 4px;
    padding: 2px;
    margin-right: 50px;
}
.search:hover{
    border: 2px solid #7cdff8;
}
.searchSvg{
    position: relative;
    float: right;
    top: 40px;
    padding: 3px;
    padding-right: 6px;
    display: inline-block;
}
.table{
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
}
.tableBody{
    padding-left: 50px;
    padding-right: 50px;
    border-collapse: collapse;
}
.row{
    border-bottom: 1px;
}
.row:hover{
    background-color: #e5f7ff;
}
.rowContact{
    background-color: #f9f9f9;
}
.name{
    width: 1000px;
    height: 50px;
}
.tags{
    border-left: 1px solid grey;
    padding: 2px;
    margin: 1em;
}
.tag{
    background-color: rgb(158 158 158 / 30%);
    padding: 4px;
    border-radius: 3px;
    margin: 2px;
}
.status{
    width: 200px;
    height: 50px;
    font-size: 10px;
}
.span{
    padding: 6px;
    border-radius: 3px;
}
.person{
    width: 200px;
    height: 50px;
}
.create{
    width: 200px;
    height: 50px;
}
.prise{
    width: 200px;
    height: 50px;
}